# Project information
site_name: MyMAGELLAN
site_description: 'MyMAGELLAN Dokumentation'
site_author: 'STÜBER SYSTEMS GmbH'
site_url: 'https://doc.mymagellan.stueber.de'

# Copyright
copyright: © 2020 STÜBER SYSTEMS GmbH

# Repository
repo_name: 'Auf GitHub'
repo_url: 'https://github.com/stuebersystems/doc.mymagellan7.de'

# Theming
theme: 
    name: material
    custom_dir: overrides
    language: de
    features:
        - navigation.tabs
        - navigation.instant
    palette:
        primary: 'blue'
        accent: 'deep orange'
    font: false
    favicon: assets/logos/favicon.ico
    logo: 'assets/logos/logo.svg'
    include_search_page: false
    search_index_only: true
    static_templates:
      - 404.html

# Legal links
extra:
  legal:
    - label: Impressum
      link: https://www.stueber.de/imprint.php
    - label: Datenschutz
      link: https://legal.stueber.de/privacy.php

# Customization
extra_css:
    - assets/css/custom.css
    
# Plugins    
plugins:
    - search
    - img2fig


# Extensions    
markdown_extensions:
    - admonition
  
# Navigation  
nav:
- Einführung: index.md
- Was ist neu?: 
  - Änderungen Version 8: changelog/changelog8.md
  - Änderungen Version 7: changelog/changelog7.md
- Installation: installation.md
- Noteneingabe: noteneingabe.md
